---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="text-gray-100 w-full p-4 text-center">
      <h1 class="">
        Welcome to the <span class="font-bold">micro-saas hub</span>
      </h1>
    </div>
  </main>
</Layout>
